SUBSCRIPTION_ID=698f3b43-ccb0-4f97-9e10-2ca89a7782cf
RESOURCE_GROUP=rg-lab-demo-001-demo-ir-mcp
LOCATION=swedencentral
ACR_NAME=demoirmcpacr
CONTAINER_APP_ENV=demo-ir-mcp-env
CONTAINER_APP_NAME=demo-ir-mcp
