# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
.pnpm-store
deno.lock

# Local env files
.env
.env.*
!.env.example

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Python
__pycache__
*.pyc
*.pyo
.venv
.pytest_cache
.ruff_cache
.basedpyright
*.egg-info

# Editors
.vscode
.idea
.cursor

# Build Outputs
.next/
out/
build
dist
*.tsbuildinfo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.idea
*.pem
factset-auth.json

**/@generated

.terraform
.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup

**/helm-charts/**/charts
__snapshot__

# local scripts
**/local-scripts/**
services/**/src/tenant-configs/*
!services/**/src/tenant-configs/examples/
!services/**/src/tenant-configs/examples/*

# Nix
result

# Zed config
.zed
.claude/
