# Created by https://www.toptal.com/developers/gitignore/api/node,typescript,macos,linux,vim,jetbrains,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=node,typescript,macos,linux,vim,jetbrains,visualstudiocode

# Dependencies
node_modules/
.pnp
.pnp.js
.pnpm-store
deno.lock

# Environment
.env
.env.*
!.env.example

# Testing
coverage/
*.lcov
.nyc_output

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build/
dist/
*.tsbuildinfo

# Generated
**/@generated

# Cache
.npm
.eslintcache
.stylelintcache

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Editors
.vscode/
.idea/
.cursor/
# We do not use .zed/ because we want to ignore symlinks
.zed
# We do not use .claude/ because we want to ignore symlinks
.claude
*.code-workspace

# OS — macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd

# OS — Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Nix
result
.direnv/

# Terraform
.terraform/
.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup

# Helm
**/helm-charts/**/charts

# Snapshots
__snapshot__

# Sensitive / local files
*.pem
factset-auth.json

# Local scripts and tenant configs
**/local-scripts/**
services/**/src/tenant-configs/*
!services/**/src/tenant-configs/examples/
!services/**/src/tenant-configs/examples/*
