name: connectors-monorepo
services:
  postgres:
    image: postgres:17
    restart: always
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 9001:5432
    environment:
      PSQL_HISTFILE: /root/log/.psql_history
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: '10s'
      timeout: '30s'
      retries: 5
      start_period: '20s'

  otel-lgtm:
    image: grafana/otel-lgtm
    ports:
      - '9002:3000'
      - '9003:4317'
      - '9004:4318'
    restart: always

  rabbitmq:
    image: rabbitmq:4-management
    restart: always
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    ports:
      - '9005:5672'   # AMQP
      - '9006:15672'  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmq
      RABBITMQ_DEFAULT_PASS: rabbitmq
    healthcheck:
      test: ['CMD-SHELL', 'rabbitmq-diagnostics check_running']
      interval: '10s'
      timeout: '30s'
      retries: 5
      start_period: '20s'

volumes:
  postgres:
  rabbitmq: