# =================================================================
# APPLICATION CONFIGURATION
# =================================================================

NODE_ENV=development
LOG_LEVEL=debug
PORT=9542

# =================================================================
# SHAREPOINT / MICROSOFT GRAPH CONFIGURATION
# =================================================================

# Set to true to use OIDC/Workload Identity (makes CLIENT_ID/SECRET optional)
SHAREPOINT_GRAPH_USE_OIDC_AUTH=false
# Required for client secret auth, not required for OIDC/Workload Identity
SHAREPOINT_GRAPH_CLIENT_ID=your-azure-app-client-id
SHAREPOINT_GRAPH_CLIENT_SECRET=your-azure-app-client-secret
# Always required
SHAREPOINT_GRAPH_TENANT_ID=your-azure-tenant-id
# Optional, defaults to https://graph.microsoft.com
SHAREPOINT_GRAPH_API_URL=https://graph.microsoft.com
# Optional, defaults to 780000 requests per minute
SHAREPOINT_GRAPH_API_RATE_LIMIT_PER_MINUTE=780000

SHAREPOINT_BASE_URL=https://uniqueapp.sharepoint.com
SHAREPOINT_SITE_IDS=sharepoint-site-id-1,sharepoint-site-id-2
SHAREPOINT_SYNC_COLUMN_NAME=FinanceGPTKnowledge

# =================================================================
# UNIQUE API CONFIGURATION
# =================================================================

# UNIQUE_SCOPE_ID=your-scope-id Only if you're using scope based ingestion
UNIQUE_INGESTION_GRAPHQL_URL=https://gateway.qa.unique.app/ingestion-gen2/graphql
UNIQUE_FILE_DIFF_URL=https://gateway.qa.unique.app/ingestion-gen2/v1/content/file-diff
# Optional, defaults to 100 requests per minute
UNIQUE_API_RATE_LIMIT_PER_MINUTE=100

UNIQUE_ZITADEL_OAUTH_TOKEN_URL=https://id.qa.unique.app/oauth/v2/token
UNIQUE_ZITADEL_PROJECT_ID="your-zitadel-project-id"
UNIQUE_ZITADEL_CLIENT_ID=your-zitadel-client-id@your-domain.com
UNIQUE_ZITADEL_CLIENT_SECRET=your-zitadel-client-secret

# =================================================================
# FILES PROCESSING CONFIGURATION
# =================================================================

PROCESSING_SCAN_INTERVAL_CRON='*/15 * * * *'
PROCESSING_STEP_TIMEOUT_SECONDS=300
PROCESSING_CONCURRENCY=1
PROCESSING_MAX_FILE_SIZE_BYTES=209715200
PROCESSING_ALLOWED_MIME_TYPES=application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document
# Used only for testing purpose to limit the amount of files we scan and ingest
#PROCESSING_MAX_FILES_TO_SCAN=2

# =================================================================
# MONITORING CONFIGURATION
# =================================================================

# OpenTelemetry Configuration (for Prometheus metrics)
OTEL_METRICS_EXPORTER=prometheus
OTEL_EXPORTER_PROMETHEUS_HOST=localhost
OTEL_EXPORTER_PROMETHEUS_PORT=8081
