# Test Configuration for SharePoint Connector
# This file is for local testing purposes only

sharepoint:
  authMode: certificate
  authTenantId: 00000000-0000-0000-0000-000000000000
  authClientId: test-client-id
  authPrivateKeyPath: /tmp/test-key.pem
  authThumbprintSha1: 0123456789abcdef0123456789abcdef01234567
  # Note: If private key is encrypted, set SHAREPOINT_AUTH_PRIVATE_KEY_PASSWORD env var
  baseUrl: https://test.sharepoint.com
  graphApiRateLimitPerMinute: 600
  
  # Use static configuration for tests
  sitesSource: configFile
  sites:
    - siteId: 12345678-1234-1234-1234-123456789abc
      syncColumnName: TestColumn
      ingestionMode: flat
      scopeId: test-scope-id
      maxFilesToIngest: 10
      storeInternally: enabled
      syncStatus: active
      syncMode: content_only

unique:
  serviceAuthMode: cluster_local
  serviceExtraHeaders:
    x-company-id: test-company-id
    x-user-id: test-user-id
  ingestionServiceBaseUrl: https://ingestion.test.com
  scopeManagementServiceBaseUrl: https://scope.test.com
  apiRateLimitPerMinute: 60

processing:
  stepTimeoutSeconds: 300
  concurrency: 5
  maxFileSizeToIngestBytes: 52428800
  allowedMimeTypes:
    - application/pdf
    - application/vnd.openxmlformats-officedocument.wordprocessingml.document
  maxFilesToScan: 5  # For testing: limit to 5 files
  scanIntervalCron: "*/15 * * * *"
