sharepoint:
  tenantId: f96a6b77-d28b-491a-8bad-607af412b850
  auth:
    mode: certificate
    #clientId: a1c4829b-7918-4c50-95c5-fff671d36a66 -> the one with File access only
    clientId: 1e67e0ba-77ed-4669-85b8-e78dc26594bc
    privateKeyPath: /Users/lorand/key.pem
    thumbprintSha1: 3305F6F8E999F499E96E774D41FCCB692A47B004
  baseUrl: https://dogfoodindustries.sharepoint.com
  graphApiRateLimitPerMinuteThousands: 180
  sitesSource: sharepoint_list
  sharepointList:
   siteId: a94dfb2f-c51b-4dfb-b0dc-eeb3a40a4870
   listId: 19723fdd-db74-4363-bf11-3982d21d3933
#  sitesSource: config_file
#  sites:
#    - siteId: af2b5be6-a37d-4992-ab8f-988b0134007e
#      syncColumnName: FinanceGPTKnowledge
#      ingestionMode: recursive
#      scopeId: scope_eywbmikimkfoa9hr0hq4044a
#      maxFilesToIngest: 100
#      storeInternally: enabled
#      syncStatus: active
#      syncMode: content_only
#    - siteId: 2b2063f3-57ba-40f2-a849-dc52f13c6a2e
#      syncColumnName: FinanceGPTKnowledge
#      ingestionMode: recursive
#      scopeId: scope_i3z17vuwa40skc9vo3illi05
#      maxFilesToIngest: 100
#      storeInternally: enabled
#      syncStatus: active
#      syncMode: content_only
unique:
  serviceAuthMode: external
  zitadelOauthTokenUrl: http://localhost:10116/oauth/v2/token
  zitadelProjectId: '341558074118504450'
  zitadelClientId: sharepoint-connector-v2
  ingestionServiceBaseUrl: http://localhost:8091
  scopeManagementServiceBaseUrl: http://localhost:8094
  apiRateLimitPerMinute: 60
  # serviceExtraHeaders:
    # x-service-id: sharepoint-connector
    # x-company-id: 337406675633897483
    # x-user-id: 341560781055197186
    # x-user-roles: chat.admin.all

processing:
  stepTimeoutSeconds: 900
  concurrency: 1
  maxFileSizeToIngestBytes: 209715200
  maxFilesToScan: 50  # For testing: limit to 5 files
  allowedMimeTypes:
    - application/pdf
    - text/plain
    - text/html
    - application/x-asp
    - application/vnd.openxmlformats-officedocument.wordprocessingml.document
    - application/vnd.openxmlformats-officedocument.presentationml.presentation
  scanIntervalCron: "*/60 * * * *"
