{{- if .Values.mcpConfig.enabled }}
# We quote everything, small adoption start of KYAML; also less prone to errors later
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chart.fullname" . }}-config
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  SELF_URL: {{ .Values.mcpConfig.app.selfUrl | quote }}
  MICROSOFT_CLIENT_ID: {{ .Values.mcpConfig.microsoft.clientId | quote }}
  {{- if .Values.mcpConfig.microsoft.publicWebhookUrl }}
  MICROSOFT_PUBLIC_WEBHOOK_URL: {{ .Values.mcpConfig.microsoft.publicWebhookUrl | quote }}
  {{- end }}
  UNIQUE_SERVICE_AUTH_MODE: {{ .Values.mcpConfig.unique.serviceAuthMode | quote }}
  UNIQUE_API_BASE_URL: {{ .Values.mcpConfig.unique.apiBaseUrl | quote }}
  UNIQUE_API_VERSION: {{ .Values.mcpConfig.unique.apiVersion | quote }}
  UNIQUE_ROOT_SCOPE_PATH: {{ .Values.mcpConfig.unique.rootScopePath | quote }}
  UNIQUE_USER_FETCH_CONCURRENCY: {{ .Values.mcpConfig.unique.userFetchConcurrency | quote }}
  {{- if .Values.mcpConfig.unique.serviceExtraHeaders }}
  UNIQUE_SERVICE_EXTRA_HEADERS: '{{ .Values.mcpConfig.unique.serviceExtraHeaders | toJson }}'
  {{- end }}
  {{- if eq .Values.mcpConfig.unique.serviceAuthMode "cluster_local" }}
  UNIQUE_INGESTION_SERVICE_BASE_URL: {{ .Values.mcpConfig.unique.ingestionServiceBaseUrl | quote }}
  {{- end }}
  AUTH_ACCESS_TOKEN_EXPIRES_IN_SECONDS: {{ .Values.mcpConfig.auth.accessTokenExpiresInSeconds | quote }}
  AUTH_REFRESH_TOKEN_EXPIRES_IN_SECONDS: {{ .Values.mcpConfig.auth.refreshTokenExpiresInSeconds | quote }}
{{- end }}
