{{- if .Values.connectorConfig.enabled }}
# We quote everything, small adoption start of KYAML; also less prone to errors later
apiVersion: v1
kind: ConfigMap
metadata:
  name: sharepoint-connector-config
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  # Sharepoint authentication config
  SHAREPOINT_AUTH_MODE: {{ .Values.connectorConfig.sharepoint.auth.mode | quote }}
  SHAREPOINT_AUTH_TENANT_ID: {{ .Values.connectorConfig.sharepoint.auth.tenantId | quote }}
  {{- if eq .Values.connectorConfig.sharepoint.auth.mode "client-secret" }}
  SHAREPOINT_AUTH_CLIENT_ID: {{ .Values.connectorConfig.sharepoint.auth.clientId | quote }}
  {{- end }}
  {{- if eq .Values.connectorConfig.sharepoint.auth.mode "certificate" }}
  SHAREPOINT_AUTH_CLIENT_ID: {{ .Values.connectorConfig.sharepoint.auth.clientId | quote }}
  SHAREPOINT_AUTH_PRIVATE_KEY_PATH: {{ .Values.connectorConfig.sharepoint.auth.privateKeyPath | quote }}
  {{- if .Values.connectorConfig.sharepoint.auth.privateKeyPassword }}
  SHAREPOINT_AUTH_PRIVATE_KEY_PASSWORD: {{ .Values.connectorConfig.sharepoint.auth.privateKeyPassword | quote }}
  {{- end }}
  {{- if .Values.connectorConfig.sharepoint.auth.thumbprintSha1 }}
  SHAREPOINT_AUTH_THUMBPRINT_SHA1: {{ .Values.connectorConfig.sharepoint.auth.thumbprintSha1 | quote }}
  {{- end }}
  {{- if .Values.connectorConfig.sharepoint.auth.thumbprintSha256 }}
  SHAREPOINT_AUTH_THUMBPRINT_SHA256: {{ .Values.connectorConfig.sharepoint.auth.thumbprintSha256 | quote }}
  {{- end }}
  {{- end }}
  # General SharePoint config
  {{- if .Values.connectorConfig.sharepoint.graph.apiRateLimitPerMinute }}
  SHAREPOINT_GRAPH_API_RATE_LIMIT_PER_MINUTE: {{ .Values.connectorConfig.sharepoint.graph.apiRateLimitPerMinute | quote }}
  {{- end }}
  SHAREPOINT_BASE_URL: {{ .Values.connectorConfig.sharepoint.baseUrl | quote }}
  SHAREPOINT_SITE_IDS: {{ .Values.connectorConfig.sharepoint.siteIds | join "," | quote }}
  SHAREPOINT_SYNC_COLUMN_NAME: {{ .Values.connectorConfig.sharepoint.syncColumnName | quote }}
  # Unique config
  {{- if .Values.connectorConfig.unique.scopeId }}
  UNIQUE_SCOPE_ID: {{ .Values.connectorConfig.unique.scopeId | quote }}
  {{- end }}
  UNIQUE_INGESTION_MODE: {{ .Values.connectorConfig.unique.ingestionMode | quote }}
  {{- if .Values.connectorConfig.unique.rootScopeName }}
  UNIQUE_ROOT_SCOPE_NAME: {{ .Values.connectorConfig.unique.rootScopeName | quote }}
  {{- end }}
  UNIQUE_FILE_DIFF_URL: {{ .Values.connectorConfig.unique.fileDiffUrl | quote }}
  UNIQUE_INGESTION_GRAPHQL_URL: {{ .Values.connectorConfig.unique.ingestionGraphqlUrl | quote }}
  {{- if .Values.connectorConfig.unique.scopeManagementGraphqlUrl }}
  UNIQUE_SCOPE_MANAGEMENT_GRAPHQL_URL: {{ .Values.connectorConfig.unique.scopeManagementGraphqlUrl | quote }}
  {{- end }}
  {{- if .Values.connectorConfig.unique.ingestionScopeLocation }}
  UNIQUE_INGESTION_SCOPE_LOCATION: {{ .Values.connectorConfig.unique.ingestionScopeLocation | quote }}
  {{- end }}
  UNIQUE_ZITADEL_CLIENT_ID: {{ .Values.connectorConfig.unique.zitadel.clientId | quote }}
  UNIQUE_ZITADEL_OAUTH_TOKEN_URL: {{ .Values.connectorConfig.unique.zitadel.oauthTokenUrl | quote }}
  UNIQUE_ZITADEL_PROJECT_ID: {{ .Values.connectorConfig.unique.zitadel.projectId | quote }}
  {{- if .Values.connectorConfig.unique.zitadel.httpExtraHeaders }}
  UNIQUE_ZITADEL_HTTP_EXTRA_HEADERS: {{ .Values.connectorConfig.unique.zitadel.httpExtraHeaders | toJson | quote }}
  {{- end }}
  {{- if .Values.connectorConfig.unique.httpExtraHeaders }}
  UNIQUE_HTTP_EXTRA_HEADERS: {{ .Values.connectorConfig.unique.httpExtraHeaders | toJson | quote }}
  {{- end }}
  {{- if .Values.connectorConfig.unique.apiRateLimitPerMinute }}
  UNIQUE_API_RATE_LIMIT_PER_MINUTE: {{ .Values.connectorConfig.unique.apiRateLimitPerMinute | quote }}
  {{- end }}
  # Processing config
  PROCESSING_STEP_TIMEOUT_SECONDS: {{ .Values.connectorConfig.processing.stepTimeoutSeconds | quote }}
  PROCESSING_ALLOWED_MIME_TYPES: {{ .Values.connectorConfig.processing.allowedMimeTypes | join "," }}
  PROCESSING_CONCURRENCY: {{ .Values.connectorConfig.processing.concurrency | quote }}
  {{- if .Values.connectorConfig.processing.maxFilesToScan }}
  PROCESSING_MAX_FILES_TO_SCAN: {{ .Values.connectorConfig.processing.maxFilesToScan | quote }}
  {{- end }}
  {{- if .Values.connectorConfig.processing.maxFileSizeBytes }}
  PROCESSING_MAX_FILE_SIZE_BYTES: {{ .Values.connectorConfig.processing.maxFileSizeBytes | quote }}
  {{- end }}
  {{- if .Values.connectorConfig.processing.scanIntervalCron }}
  PROCESSING_SCAN_INTERVAL_CRON: {{ .Values.connectorConfig.processing.scanIntervalCron | quote }}
  {{- end }}
{{- end }}
