SUBSCRIPTION_ID=698f3b43-ccb0-4f97-9e10-2ca89a7782cf
RESOURCE_GROUP=rg-lab-demo-001-ir-demo-mcp
LOCATION=swedencentral
ACR_NAME=irdemomcpacr
CONTAINER_APP_ENV=ir-demo-mcp-env
CONTAINER_APP_NAME=ir-demo-mcp

# Add these after the first deployment and creating the Zitadel Web Application.
ZITADEL_ISSUER_URL=
ZITADEL_CLIENT_ID=
ZITADEL_CLIENT_SECRET=
