name: "[TEMPLATE] CD"

on:
  workflow_call:
    inputs:
      service-name:
        description: "Name of the service (e.g., factset-mcp)"
        required: true
        type: string
      service-version:
        description: "Version of the package (e.g., 1.2.0)"
        required: true
        type: string
      dockerfile:
        description: "Path to a specific Dockerfile (e.g., services/factset-mcp/deploy/Dockerfile)"
        default: "./Dockerfile"
        type: string

jobs:
  # Build and push container to registry
  containerize:
    permissions:
      packages: write
      id-token: write
    environment: uniquecr-github-oidc
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      GHCR_REGISTRY: ghcr.io
      GHCR_REPO: unique-ag/connectors/services/${{ inputs.service-name }}
      GHCR_CHART_REPO: unique-ag/connectors/helm
      UNIQUECR_REGISTRY: uniquecr.azurecr.io
      UNIQUECR_REPO: connectors/services/${{ inputs.service-name }}
      UNIQUECR_CHART_REPO: connectors/helm

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 2

      - name: Setup docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      # TODO: remove me and let `corepack` do its job to use and setup the correct package manager in the dockerfile
      - name: Extract PNPM version for build
        id: pnpm-version
        run: |
          PNPM_VERSION=$(jq -r '.packageManager | split("@")[1]' package.json)
          echo "version=$PNPM_VERSION" >> $GITHUB_OUTPUT

      - name: Add docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ env.GHCR_REGISTRY }}/${{ env.GHCR_REPO }}
            ${{ env.UNIQUECR_REGISTRY }}/${{ env.UNIQUECR_REPO }}
          tags: |
            type=raw,value=${{ inputs.service-version }}

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.GHCR_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Azure with OIDC
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # Azure Login Action v2.3.0
        with:
          client-id: ${{ vars.CLIENT_ID }}
          tenant-id: ${{ vars.TENANT_ID }}
          subscription-id: ${{ vars.SUBSCRIPTION_ID }}

      - name: Get ACR access token
        id: acr-token
        run: |
          TOKEN=$(az acr login --name ${UNIQUECR_REGISTRY%%.*} --expose-token --output tsv --query accessToken)
          echo "::add-mask::$TOKEN"
          echo "token=$TOKEN" >> $GITHUB_OUTPUT

      - name: Login to ACR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.UNIQUECR_REGISTRY }}
          username: 00000000-0000-0000-0000-000000000000
          password: ${{ steps.acr-token.outputs.token }}

      - name: Login to both helm registries
        run: |
          echo "${{ steps.acr-token.outputs.token }}" | helm registry login ${{ env.UNIQUECR_REGISTRY }} --username 00000000-0000-0000-0000-000000000000 --password-stdin
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ${{ env.GHCR_REGISTRY }} --username ${{ github.actor }} --password-stdin

      - name: Build and push container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build-and-push
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          provenance: mode=max
          push: true
          sbom: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: |
            type=gha,scope=${{ inputs.service-name }}
            type=registry,ref=${{ env.GHCR_REGISTRY }}/${{ env.GHCR_REPO }}:cache
          cache-to: |
            type=registry,ref=${{ env.GHCR_REGISTRY }}/${{ env.GHCR_REPO }}:cache,mode=min
          build-args: |
            APP_NAME=${{ inputs.service-name }}
            PNPM_VERSION=${{ steps.pnpm-version.outputs.version }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Sign and verify the images with GitHub OIDC Token
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
          TAGS: ${{ steps.meta.outputs.tags }}
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes ${images}
          cosign verify ${images} \
          --certificate-identity-regexp="^https://github.com/${{ github.repository }}/\.github/workflows/.*@refs/heads/main$" \
          --certificate-oidc-issuer=https://token.actions.githubusercontent.com

      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3

      - name: Push Helm charts
        env:
          DESTINATION: /tmp
        run: |
          deno run \
          --allow-run \
          --allow-read \
          --allow-write=${{ env.DESTINATION }} \
          scripts/helm-package-push.ts \
          --chart services/${{ inputs.service-name }}/deploy/helm-charts/${{ inputs.service-name }} \
          --destination ${{ env.DESTINATION }} \
          --registry oci://${{ env.UNIQUECR_REGISTRY }}/${{ env.UNIQUECR_CHART_REPO }} \
          --registry oci://${{ env.GHCR_REGISTRY }}/${{ env.GHCR_CHART_REPO }}
